body{
  font-family: arial;
}

.form{
  max-width: 500px;
}

.form-field-row{
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.form-field-cell{
  width: 50%;
  display: inline-block;
}

.text-input-inp{
  width: 100%;
}

.btn{
  display: inline-block;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  margin-bottom: 10px;
  margin-right: 10px;
}

.btn-submit{
  background-color: #999;
}

.err-msg{
  color: red;
  margin-bottom: 10px;
}

.search-bar{
  margin-bottom: 10px;
  font-size: inherit;
}

.search-bar input,
.search-bar select{
  font-size: inherit;
  margin-right: 8px;
}

.user-card{
  display: inline-block;
  width: 400px;
  height: 150px;
  background-color: #ccc;
  border: 1px solid;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 8px;
  border-radius: 8px;
  vertical-align: top;
}

.link{
  border: 0px;
  background-color: transparent;
  font-size: inherit;
  padding: 0px;
}

.user-card-username{
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.user-card-prop{
  margin-bottom: 5px;
}

.prop{
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
}

.prop-true{
  color: #080;
}

.prop-false{
  color: #800;
}

.page-nav-lab{
  margin-right: 10px;
  display: inline-block;
}